/* Literal Grid Layout */
.calendar {
    border-collapse: collapse;
}

.calendar th, .calendar td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.calendar .booked {
    background-color: rgba(0, 255, 76, 0.603);
}

.current-day {
    background-color: rgba(0, 0, 0, 0.603);
}

form.table-form {
    margin: 0;
}

/* Apply a specific style to read-only input fields */
input[readonly] {
    background-color: #f2f2f2; /* Use a light grey background color */
    color: #333; /* Set text color to a dark color for better visibility */
    border: 1px solid #ddd; /* Add a border for a clear boundary */
    cursor: not-allowed; /* Change cursor to indicate it's not editable */
  }

.notice-board {
    max-height: 200px; /* Set a maximum height for the notice board */
    overflow-y: auto; /* Add vertical scroll bar if content exceeds the max height */
    border: 1px solid #ccc; /* Add a border for visual separation */
    padding: 10px; /* Add padding for better styling */
    margin-bottom: 20px; /* Add some margin to separate from other elements */
}

.notice-board h3 {
    margin-top: 0; /* Remove default margin for the heading */
}

.notice-list {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding for the list */
    margin: 0; /* Remove default margin for the list */
}

.notice-list li {
    margin-bottom: 5px; /* Add some margin between list items */
}

/* Custom styles for the toggle switch */
.form-check-input[type="checkbox"].custom-switch {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.form-check-label.custom-switch {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 24px;
    position: relative;
    background-color: #ccc;
    border-radius: 17px;
    transition: background-color 0.4s;
}

.form-check-label.custom-switch::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    top: -1px;
    left: 4px;
    transition: left 0.4s;
}

.form-check-input[type="checkbox"].custom-switch:checked + .form-check-label::before {
    left: calc(100% - 30px);
}

.form-check-input[type="checkbox"].custom-switch:checked + .form-check-label {
    background-color: #ffffffdc;
}