/* Literal Grid Layout */
.calendar {
    border-collapse: collapse;
}

.calendar th, .calendar td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.calendar .booked {
    background-color: rgba(0, 255, 76, 0.603);
}

.current-day {
    background-color: rgba(0, 0, 0, 0.603);
}