/* Literal Grid Layout */
.calendar {
    border-collapse: collapse;
}

.calendar th, .calendar td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.calendar .booked {
    background-color: rgba(0, 255, 76, 0.603);
}

.current-day {
    background-color: rgba(0, 0, 0, 0.603);
}

form.table-form {
    margin: 0;
}

/* Apply a specific style to read-only input fields */
input[readonly] {
    background-color: #f2f2f2; /* Use a light grey background color */
    color: #333; /* Set text color to a dark color for better visibility */
    border: 1px solid #ddd; /* Add a border for a clear boundary */
    cursor: not-allowed; /* Change cursor to indicate it's not editable */
  }