{% if current_user.language == 'en' %}
    {% extends "index.html" %}
{% else %}
    {% extends "index_" + current_user.language + ".html" %}
{% endif %}

{% block content %}
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <div class="row">
        <form action="{{ url_for('garage_manage') }}" method="get">
            <button type="submit" title="Add or Delete a Car" style="width: 75px;"><i class="fa-solid fa-car" style="margin-left: -15px;"> +/-</i></button>
        </form>
        <form action="{{ url_for('garage_car') }}" method="get">
            <button type="submit" title="Manage a Car"><i class="fa-solid fa-car"></i></button>
        </form>
        <form action="{{ url_for('bookings_manage') }}" method="get">
            <button type="submit" title="Manage Bookings"><i class="fa-solid fa-book-open"></i></button>
        </form>
        <form action="{{ url_for('overview') }}" method="get">
            <button type="submit" title="Calendar View"><i class="fa-solid fa-left-long"></i></button>
        </form>
        {% if is_current_month %}
        <form action="{{ url_for('calendar') }}" method="POST">
            <input type="hidden" name="current_date" value="{{ current_date.strftime('%Y-%m-%d %H:%M:%S') }}">
            <input type="hidden" name="current_month" value="{{ current_month }}">
            <button type="submit" name="calendar_download" title="Download Calendar"><i class="fa fa-download"></i></button>
        </form>
        {% endif %}
    </div>

    <!-- Flash Messages -->
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == 'success' %}
            <div class="alert alert-success" style="color: #155724; background-color: #d4edda; border-color: #c3e6cb; padding: 10px; margin-top: 10px;">
                {{ message }}
            </div>
        {% elif category == 'error' %}
            <div class="alert alert-danger" style="color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; padding: 10px; margin-top: 10px;">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    <!-- Display current month -->

    <div class="row" style="display: flex; align-items: center;">
        <form action="{{ url_for('calendar') }}" method="POST" style="margin-left: auto; margin-top: 15px;">
            <button type="submit" title="Previous Month" name="prev_month" value="{{ current_month }}" style="border: none; background-color: transparent; box-shadow: none;">
                <i class="fa-solid fa-angles-left"></i>
            </button>
        </form>
        
        <div class="current-month">
            <h3 style="margin-top: 0;">{{ current_day if is_current_month else '' }} {{ current_month }}</h3>
        </div>
    
        <form action="{{ url_for('calendar') }}" method="POST" style="margin-right: auto; margin-top: 15px;">
            <button type="submit" title="Next Month" name="next_month" value="{{ current_month }}" style="border: none; background-color: transparent; box-shadow: none;">
                <i class="fa-solid fa-angles-right"></i>
            </button>
        </form>
    </div>
    

    <table class="calendar">
        <tr>
            <th>Car</th>
            {% for day in range(1, days_in_month + 1) %}
                {% if day == current_day and is_current_month %}
                    <th class="current-day">{{ day }}</th>
                {% else %}
                    <th>{{ day }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        {% for car in cars %}
            <tr>
                <td class="car"><a href="{{ url_for('garage_car', car_plate=car.plate ) }}">{{ car.model }} - {{ car.plate }}</a></td>
                {% for day in range(1, days_in_month + 1) %}
                    {% if booking_data[day][car.plate] %}
                        {% set booking = booking_data[day][car.plate] %}
                        {% if booking | length == 1 %}
                            {% if booking[0].start_datetime.day == day or booking[0].end_datetime.day == day %}
                        <td class="booked-start-finish" title="Booking ID: {{ booking[0].id }}&#10;Client: {{ booking[0].get_contact_name() }}&#10;Start Date: {{ booking[0].start_datetime.strftime('%d/%m, %H:%M') }}&#10;End Date: {{ booking[0].end_datetime.strftime('%d/%m, %H:%M') }}{% if booking[0].group.name %}&#10;Group: {{ booking[0].group.name }}{% endif %}{% if booking[0].note %}{% if not booking[0].group.name %}&#10;Note: {{ booking[0].note }}{% else %}&#10;&#10;Note: {{ booking[0].note }}{% endif %}{% endif %}">
                            <a href="{{ url_for('bookings_manage', booking_id=booking[0].id) }}">{{ booking[0].id }}</a>
                        </td>
                            {% else %}
                        <td class="booked-single" title="Booking ID: {{ booking[0].id }}&#10;Start Date: {{ booking[0].start_datetime.strftime('%d/%m, %H:%M') }}&#10;End Date: {{ booking[0].end_datetime.strftime('%d/%m, %H:%M') }}{% if booking[0].group.name %}&#10;Group: {{ booking[0].group.name }}{% endif %}{% if booking[0].note %}{% if not booking[0].group.name %}&#10;Note: {{ booking[0].note }}{% else %}&#10;&#10;Note: {{ booking[0].note }}{% endif %}{% endif %}">
                            <a href="{{ url_for('bookings_manage', booking_id=booking[0].id) }}">{{ booking[0].id }}</a>
                            {% endif %}
                        </td>
                        
                        {% elif booking | length > 1 %}
                            <td class="booked-start-finish" title="Booking ID: {{ booking[0].id }}&#10;Client: {{ booking[0].get_contact_name() }}&#10;Start Date: {{ booking[0].start_datetime.strftime('%d/%m, %H:%M') }}&#10;End Date: {{ booking[0].end_datetime.strftime('%d/%m, %H:%M') }}{% if booking[0].group.name %}&#10;Group: {{ booking[0].group.name }}{% endif %}{% if booking[0].note %}{% if not booking[0].group.name %}&#10;Note: {{ booking[0].note }}{% else %}&#10;&#10;Note: {{ booking[0].note }}{% endif %}{% endif %}&#10;                            
Booking ID: {{ booking[1].id }}&#10;Client: {{ booking[1].get_contact_name() }}&#10;Start Date: {{ booking[1].start_datetime.strftime('%d/%m, %H:%M') }}&#10;End Date: {{ booking[1].end_datetime.strftime('%d/%m, %H:%M') }}{% if booking[1].group.name %}&#10;Group: {{ booking[1].group.name }}{% endif %}{% if booking[1].note %}{% if not booking[1].group.name %}&#10;Note: {{ booking[1].note }}{% else %}&#10;&#10;Note: {{ booking[1].note }}{% endif %}{% endif %}">
                                M
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <div class="legend">
        <div class="legend-item">
            <div class="legend-color" style="background-color: rgba(0, 199, 60, 0.616);"></div>
            <div class="legend-text">Booking's start or end</div>
        </div>
        <div class="legend-item">
            <div class="legend-color" style="background-color: rgba(0, 255, 76, 0.411);"></div>
            <div class="legend-text">Booked</div>
        </div>
        <div class="legend-item">
            <div class="legend-color" style="background-color: rgba(0, 199, 60, 0.616);">
                <div class="legend-text">M</div>
            </div>
            <div class="legend-text">Multiple bookings</div>
        </div>
    </div>

{% endblock %}