{% if current_user.language == 'en' %}
    {% extends "index.html" %}
{% else %}
    {% extends "index_" + current_user.language + ".html" %}
{% endif %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Flash Messages -->
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == 'success' %}
        <div class="alert alert-success" style="color: #155724; background-color: #d4edda; border-color: #c3e6cb; padding: 10px; margin-top: 10px;">
            {{ message }}
        </div>
    {% elif category == 'error' %}
        <div class="alert alert-danger" style="color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; padding: 10px; margin-top: 10px;">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

<!-- Add Contact Section -->
<form method="POST" action="{{ url_for('contacts') }}">
    <header id="header">
    <h2>Add Contact</h2>
    </header>
    <div class="row">
      <!-- Input fields for adding a contact -->
      <div class="col">
        <label for="full_name" class="form-label">Full name</label>
        <input type="text" class="form-control" id="full_name" name="full_name">
      </div>
      <div class="col">
        <label for="dob" class="form-label">Date of Birth</label>
        <input type="text" class="form-control" id="dob" name="dob">
      </div>
      <div class="col">
        <label for="driver_licence_n" class="form-label">Driver Licence Number</label>
        <input type="text" class="form-control" id="driver_licence_n" name="driver_licence_n">
      </div>
      <div class="col">
        <label for="telephone" class="form-label">Telephone</label>
        <input type="text" class="form-control" id="telephone" name="telephone">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;"><i class="fa-solid fa-user-plus"></i></button>
  </form>

  
    <h2>Search Contact</h2>
  

  <form action="{{ url_for('contacts') }}" method="POST">
    <div class="row">
      <!-- Dropdown for search type -->
      <div class="col">
        <label for="search_type" class="form-label">Search by</label>
        <select class="form-select" id="search_type" name="search_type">
          <option value="full_name">Full Name</option>
          <option value="driver_licence">Driver Licence</option>
          <option value="dob">Date of Birth</option>
          <option value="id">ID</option>
        </select>
      </div>
      <!-- Input field for search query -->
      <div class="col">
        <label for="search_type" class="form-label hidden-label">Search Query</label>
        <input type="text" class="form-control" id="search_query" name="search_query" placeholder="Search...">
      </div>
    </div>
    <button type="submit" class="btn btn-danger" style="margin-top: 20px;"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  {% if search_results or search_query %}
  {% if search_results %}
  <form action="{{ url_for('contacts') }}" method="POST">

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Date of Birth</th>
                <th>Driver Licence</th>
                <th>Telephone</th>
                <th>Booking</th>   
                <th>Action</th>              
            </tr>
        </thead>
        <tbody>
          {% for contact in search_results %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.full_name }}</td>
                    <td>{{ contact.dob }}</td>
                    <td>{{ contact.driver_licence_n }}</td>
                    <td>{{ contact.telephone }}</td>
                    <td>
                      <button type="submit" class="btn btn-danger" name="book_contact" value="{{ contact.id }}"><i class="fa-solid fa-book-open"></i></button>
                    </td>
                    <td>
                        <!-- Add hidden input for booking ID -->
                        <input type="hidden" name="contact_id" value="{{contact.id }}">
                        <button type="submit" class="btn btn-danger" name="manage_contact" value="{{ contact.id }}"><i class="fa-solid fa-wrench"></i></button>
                    </td>                   
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No results found.</p>
  {% endif %}
{% endif %}
</form>


<header id="header">
    <h2>Contacts</h2>
</header>

<table class="table" id="contactTable">
  <thead>
    <tr>
      <!-- Define sortable columns with clickable links -->
      <th scope="col"><a href="#" class="sort-link" data-sort="id">Id</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="full_name">Full Name</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="dob">Date of Birth</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="driver_licence_n">Driver Licence</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="telephone">Telephone</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="action">Actions</a></th>
    </tr>
  </thead>
  <tbody>
    <!-- Iterate through user_contacts and display contact data in rows -->
    {% for contact in user_contacts %}
    <tr>
        <!-- Display contact data with associated sorting attribute -->
        <td data-sort="id">{{ contact.id }}</td>
        <td data-sort="full_name">{{ contact.full_name }}</td>
        <td data-sort="dob">{{ contact.dob }}</td>
        <td data-sort="driver_licence_n">{{ contact.driver_licence_n }}</td>
        <td data-sort="telephone">{{ contact.telephone }}</td>
        <td>
          <!-- Add hidden input for contact id -->
          <form class="table-form" action="{{ url_for('contact_manage', contact_id=contact.id) }}" method="get">
              <button type="submit" style="margin-right: -20px;"><i class="fa-solid fa-wrench"></i></button>
          </form>
      </td>
      <form action="{{ url_for('contacts') }}" method="POST">
      <td>
        <button type="submit" style="margin-left: -50px;" class="btn btn-danger btn-delete" name="delete_contact" value="{{ contact.id }}" onclick="return confirm('Are you sure you want to delete this contact?');"><i class="fas fa-trash-alt"></i></button>
      </td>
      <td>
        <button type="submit" style="margin-left: -50px;" class="btn btn-danger" name="book_contact" value="{{ contact.id }}"><i class="fa-solid fa-book-open"></i></button>
      </td>
      </form> 
    </tr>
    {% endfor %}
</tbody>
</table>

  
    
{% endblock %}