{% extends "index.html" %}

{% block content %}
<!-- Flash Messages -->
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == 'success' %}
        <div class="alert alert-success" style="color: #155724; background-color: #d4edda; border-color: #c3e6cb; padding: 10px; margin-top: 10px;">
            {{ message }}
        </div>
    {% elif category == 'error' %}
        <div class="alert alert-danger" style="color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; padding: 10px; margin-top: 10px;">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

<!--Scripts-->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

<h2>Cerca un'auto</h2>

<form action="/search" method="POST">
  <div class="row" style="margin-top: -20px;">
    <!-- Dropdown for search type -->
    <div class="col">
      <label for="search_type" class="form-label">Cerca per</label>
      <select class="form-select" id="search_type" name="search_type">
        <option value="plate">Targa</option>
        <option value="make">Marchio</option>
        <option value="model">Modello</option>
        <option value="fuel">Carburante</option>
        <option value="year">Anno</option>
        <option value="cc">Cilindrata</option>
      </select>
    </div>
    <!-- Input field for search query -->
    <div class="col">
      <label for="search_type" class="form-label hidden-label">Search Query</label>
      <input type="text" class="form-control" id="search_query" name="search_query" placeholder="Search...">
    </div>
    <!-- "Or" text -->
    <div class="col">
      <p style="text-align: center; margin-top: 3em;">oppure</p>
    </div>
    <!-- Dropdown for selecting a car -->
    <div class="col">
      <label type="hidden" class="form-label hidden-label">Seleziona un'auto</label>
      <select class="form-select" id="select_car" name="select_car">
        <option value="blank">Seleziona un'auto...</option>
        {% for car in user_cars %}
        <option value="{{ car.plate }}">{{ car.plate }} - {{ car.model }} - {{ car.year }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="hidden" name="source_page" value="garage_car">
    <button type="submit" class="btn btn-danger" style="margin-top: 40px; width: 120px; padding-left: 0px; margin-left: 20px;"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
  
</form>

{% if search_query or cars %}
  {% if cars %}
    <!-- Display search results in a table -->
    <h3>Risultati</h3>
    <table class="table" id="carTable">
      <thead>
        <tr>
          <th scope="col">Targa</th>
          <th scope="col">Marchio</th>
          <th scope="col">Modello</th>
          <th scope="col">Carburante</th>
          <th scope="col">Anno</th>
          <th scope="col">Cilindrata</th>
          <th scope="col">Azioni</th>
        </tr>
      </thead>
      <tbody>
        {% for car in cars %}
          <tr>
            <td>{{ car.plate }}</td>
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.fuel }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.cc }}</td>
            <td>
              <!-- Button to manage a car -->
              <form action="/garage_car" method="POST" style="margin-bottom: auto;">
                <input type="hidden" name="plate" value="{{ car.plate }}">
                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-wrench"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Nessun risultato trovato.</p>
  {% endif %}
{% endif %}

<header id="header" style="padding: 0;">
    <h2>Gestisci l'auto</h2>
</header>

{% if car_object %}

<form method="POST" action="{{ url_for('renew', car_plate=car_object.plate) }}">

  <div class="row"> 

    <!-- Road Tax Expiry Date -->
    <div class="col">
      <label for="road_tax_expiry_date" class="form-label">Scadenza bollo</label>
      <input type="date" class="form-control" id="road_tax_expiry_date" name="road_tax_expiry_date" 
                                                      value="{{ car_object.road_tax_expiry_date.strftime('%Y-%m-%d') if car_object.road_tax_expiry_date else None }}" readonly>
    </div>

    <!-- MOT Expiry Date -->
    <div class="col">
      <label for="mot_expiry_date" class="form-label">Scadenza revisione</label>
      <input type="date" class="form-control" id="mot_expiry_date" name="mot_expiry_date" 
                                                        value="{{ car_object.mot_expiry_date.strftime('%Y-%m-%d') if car_object.mot_expiry_date else None }}" readonly>
    </div>

    <!-- Insurance Expiry Date -->
    <div class="col">
      <label for="insurance_expiry_date" class="form-label">Scadenza assicurazione</label>
      <input type="date" class="form-control" id="insurance_expiry_date" name="insurance_expiry_date" 
                                              value="{{ car_object.insurance_expiry_date.strftime('%Y-%m-%d') if car_object.insurance_expiry_date else None }}" readonly>
    </div>

    <button type="submit" style="margin-top: 30px; width: 70px; padding-left: 0px; margin-left: 20px;"><i class="fa-solid fa-pen"></i></button>

  </div>

</form>

  <form method="POST" action="{{ url_for('garage_car') }}" id="manageForm" style="margin: 0 0 0em 0 !important;">

    <div class="row" style="margin-top: -20px;">      

      <!-- Make Input -->
      <div class="col">
        <label for="car_make" class="form-label">Marchio</label>
        <input type="text" class="form-control" id="car_make" name="car_make" value="{{ car_object.make }}">
      </div>

      <!-- Model Input -->
      <div class="col">
        <label for="car_model" class="form-label">Modello</label>
        <input type="text" class="form-control" id="car_model" name="car_model" value="{{ car_object.model }}">
      </div>

      <!-- Fuel Input -->
      <div class="col">
        <label for="car_fuel" class="form-label">Carburante</label>
        <input type="text" class="form-control" id="car_fuel" name="car_fuel" value="{{ car_object.fuel }}">
      </div>

      <!-- Year Input -->
      <div class="col">
        <label for="car_year" class="form-label">Anno</label>
        <input type="text" class="form-control" id="car_year" name="car_year" value="{{ car_object.year }}">
      </div>

      <!-- CC Input -->
      <div class="col">
        <label for="car_cc" class="form-label">Cilindrata</label>
        <input type="text" class="form-control" id="car_cc" name="car_cc" value="{{ car_object.cc }}">
      </div>
    
    </div>

    <!-- Hidden input field for the car plate -->
    <input type="hidden" name="car_plate" id="car_plate" value="{{ car_object.plate }}">

    <!-- Hidden input field for the action -->
    <input type="hidden" name="action" id="action" value="">

    <!-- Amend Button with Confirmation -->
    <button type="button" class="btn btn-primary" onclick="confirmAmend('car')"><i class="fa-solid fa-pen"></i></button>

    <!-- Delete Button with Confirmation -->
    <button type="button" class="btn btn-primary btn-delete" style="margin-top: 20px; margin-bottom: 10px;" onclick="confirmDelete('car')"><i class="fas fa-trash-alt"></i></button>

  </form>

  <div class="row">     

    <!-- Plate Input -->
    <div class="col-2">
      <label for="car_plate" class="form-label">Targa</label>
      <input type="text" class="form-control" id="car_plate" name="car_plate" value="{{ car_object.plate }}" readonly>
    </div>

    <!-- Car km -->
    <div class="col-2">
      <label for="km" class="form-label">{{ current_user.measurement_unit.capitalize() }}</label>
      <input type="text" class="form-control" id="km" name="km" value="{{ car_object.km }}" readonly>
    </div>

    <!-- Days Booked -->
    <div class="col-2">
      <label for="days" class="form-label">Giorni prenotati</label>
      <input type="text" class="form-control" id="days" name="days" value="{{ car_object.days }}" readonly>
    </div>

    <!-- Car revenue -->
    <div class="col-2">
      <label for="money" class="form-label">Ricavo</label>
      <input type="text" class="form-control" id="money" name="money" value="{{ car_object.money }}" readonly>
    </div>

    <!-- Car cost -->
    <div class="col-2">
      <label for="car_cost" class="form-label">Costo</label>
      <input type="text" class="form-control" id="car_cost" name="car_cost" value="{{ car_object.car_cost }}" readonly>
    </div>

    <!-- Car profit -->
    <div class="col-2">
      <label for="profit" class="form-label">Profitto</label>
      <input type="text" class="form-control" id="profit" name="profit" value="{{ car_object.money - car_object.car_cost }}" readonly>
    </div>

  </div>
  <div class="row">   

    <!-- Insurance Cost -->
    <div class="col-2">
      <label for="insurance_cost" class="form-label">Costo assicurazione</label>
      <input type="text" class="form-control" id="insurance_cost" name="insurance_cost" value="{{ car_object.insurance_cost }}" readonly>
    </div>

    <!-- MOT Cost -->
    <div class="col-2">
      <label for="mot_cost" class="form-label">Costo revisione</label>
      <input type="text" class="form-control" id="mot_cost" name="mot_cost" value="{{ car_object.mot_cost }}" readonly>
    </div>

    <!-- Road Tax Cost -->
    <div class="col-2">
      <label for="road_tax_cost" class="form-label">Costo bollo</label>
      <input type="text" class="form-control" id="road_tax_cost" name="road_tax_cost" value="{{ car_object.road_tax_cost }}" readonly>
    </div>

    <!-- Other Cost -->
    <div class="col-2">
      <label for="other" class="form-label">Altri costi</label>
      <input type="text" class="form-control" id="other" name="other" value="{{ car_object.car_cost - (car_object.insurance_cost +
                                                                                car_object.mot_cost + car_object.road_tax_cost) }}" readonly>
    </div>

</div>
  

<h2>Prenotazioni attive</h2>
<form action="{{ url_for('bookings_manage') }}" method="POST">
<table class="table" id="bookingTable">
  <thead>
    <tr>
      <!-- Define sortable columns with clickable links -->
      <th scope="col"><a href="#" class="sort-link" data-sort="id">ID</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="plate">Targa</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="model">Modello</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="start_datetime">Inizio</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="end_datetime">Fine</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="note">Note</a></th>
      <th scope="col"><a>Azioni</a></th>
    </tr>
  </thead>
  <tbody>
    <!-- Iterate through user_bookings and display booking data in rows -->
    {% for booking in active_bookings %}
    <tr>
        <!-- Display booking data with associated sorting attribute -->
        <td data-sort="id">{{ booking.id }}</td>
        <td data-sort="plate">{{ booking.car.plate }}</td>
        <td data-sort="model">{{ booking.car.model }}</td>
        <td data-sort="start_datetime">{{ booking.start_datetime.strftime("%b %d %H:%M") }}</td>
        <td data-sort="end_datetime">{{ booking.end_datetime.strftime("%b %d %H:%M") }}</td>
        <td data-sort="note">
          {% if booking.note %}
          <span class="note-tooltip">
              Nota
              <div class="tooltip" data-toggle="tooltip" title="{{ booking.note }}">{{ booking.note }}</div>
          </span>
      {% else %}
          <!-- Display nothing if there is no note -->
      {% endif %}
        </td>
        <td>
            <!-- Add hidden input for booking ID -->
            <input type="hidden" name="booking_id" value="{{ booking.id }}">
            <button type="submit" class="btn btn-danger" name="manage_booking" value="{{ booking.id }}"><i class="fa-solid fa-wrench"></i></button>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</form>

<h2>Prenotazioni passate</h2>
<form action="{{ url_for('bookings_history') }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this booking?');">
<table class="table" id="bookingTable">
  <thead>
    <tr>
      <!-- Define sortable columns with clickable links -->
      <th scope="col"><a href="#" class="sort-link" data-sort="id">ID</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="plate">Targa</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="model">Modello</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="start_datetime">Inizio</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="end_datetime">Fine</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="note">Note</a></th>
      <th scope="col"><a>Azioni</a></th>
    </tr>
  </thead>
  <tbody>
    <!-- Iterate through user_bookings and display booking data in rows -->
    {% for booking in past_bookings %}
    <tr>
        <!-- Display booking data with associated sorting attribute -->
        <td data-sort="id">{{ booking.id }}</td>
        <td data-sort="plate">{{ booking.car.plate }}</td>
        <td data-sort="model">{{ booking.car.model }}</td>
        <td data-sort="start_datetime">{{ booking.start_datetime.strftime("%b %d %H:%M") }}</td>
        <td data-sort="end_datetime">{{ booking.end_datetime.strftime("%b %d %H:%M") }}</td>
        <td data-sort="note">
          {% if booking.note %}
          <span class="note-tooltip">
              Nota
              <div class="tooltip" data-toggle="tooltip" title="{{ booking.note }}">{{ booking.note }}</div>
          </span>
      {% else %}
          <!-- Display nothing if there is no note -->
      {% endif %}
        </td>
        <td>
            <!-- Add hidden input for booking ID -->
            <input type="hidden" name="action" id='action' value="{{ booking.id }}">
            <button type="submit" class="btn btn-danger btn-delete" name="delete_car" value="{{ booking.id }}"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</form>
{% endif %}
{% endblock %}