{% if current_user.language == 'en' %}
    {% extends "index.html" %}
{% else %}
    {% extends "index_" + current_user.language + ".html" %}
{% endif %}

{% block content %}
<head>
  <!-- Include jQuery library and external sorting script -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{{ url_for('static', filename='js/sorting.js') }}"></script>
</head>

<form action="{{ url_for('garage_car') }}" method="POST">
<header id="header">
  <h2>Garage</h2>
</header>

<!-- Display a table for car data with sortable columns -->
<table class="table" id="carTable">
    <thead>
      <tr>
        <!-- Define sortable columns with clickable links -->
        <th scope="col"><a href="#" class="sort-link" data-sort="plate">Targa</a></th>
        <th scope="col"><a href="#" class="sort-link" data-sort="make">Marchio</a></th>
        <th scope="col"><a href="#" class="sort-link" data-sort="model">Modello</a></th>
        <th scope="col"><a href="#" class="sort-link" data-sort="fuel">Carburante</a></th>
        <th scope="col"><a href="#" class="sort-link" data-sort="year">Anno</a></th>
        <th scope="col"><a href="#" class="sort-link" data-sort="cc">Cilindrata</a></th>
        <th scope="col"><a href="#" class="sort-link" data-sort="cc">Azioni</a></th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterate through user_cars and display car data in rows -->
      {% for car in user_cars %}
      <tr>
          <!-- Display car data with associated sorting attribute -->
          <td data-sort="plate">{{ car.plate }}</td>
          <td data-sort="make">{{ car.make }}</td>
          <td data-sort="model">{{ car.model }}</td>
          <td data-sort="fuel">{{ car.fuel }}</td>
          <td data-sort="year">{{ car.year }}</td>
          <td data-sort="cc">{{ car.cc }}</td>
          <form action="{{ url_for('garage_car') }}" method="POST">
            <td style="width: 20px;">            
              <!-- Add hidden input for Car plate -->          
              <input type="hidden" name="car_plate" value="{{ car.plate }}">
              <button type="submit" class="btn btn-danger" name="garage_car" value="{{ car.plate }}"><i class="fa-solid fa-wrench"></i></button>
          </td>
        </form>
        <form action="/delete" method="POST" onsubmit="return confirm('Sicuro di voler eliminare questa automobile? Anche le prenotazioni collegate verranno eliminate.');">
          <td>
            <!-- Button to delete a car -->
              <input type="hidden" name="car_plate" value="{{ car.plate }}">
              <button type="submit" class="btn btn-danger btn-delete"><i class="fas fa-trash-alt"></i></button>       
          </td>
        </form>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}