{% extends "index.html" %}

{% block content %}
<head>
  <!-- Include jQuery library and external sorting script -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{{ url_for('static', filename='js/sorting.js') }}"></script>
</head>

<header id="header">
  <h2>Garage</h2>
</header>

<!-- Display a table for car data with sortable columns -->
<table class="table" id="carTable">
    <thead>
      <tr>
        <!-- Define sortable columns with clickable links -->
        <th scope="col"><a href="#" class="sort-link" data-sort="plate">Plate</a></th>
        <th scope="col"><a href="#" class="sort-link" data-sort="make">Make</a></th>
        <th scope="col"><a href="#" class="sort-link" data-sort="model">Model</a></th>
        <th scope="col"><a href="#" class="sort-link" data-sort="fuel">Fuel</a></th>
        <th scope="col"><a href="#" class="sort-link" data-sort="year">Year</a></th>
        <th scope="col"><a href="#" class="sort-link" data-sort="cc">Cc</a></th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterate through user_cars and display car data in rows -->
      {% for car in user_cars %}
      <tr>
          <!-- Display car data with associated sorting attribute -->
          <td data-sort="plate">{{ car.plate }}</td>
          <td data-sort="make">{{ car.make }}</td>
          <td data-sort="model">{{ car.model }}</td>
          <td data-sort="fuel">{{ car.fuel }}</td>
          <td data-sort="year">{{ car.year }}</td>
          <td data-sort="cc">{{ car.cc }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}


