{% extends "index.html" %}

{% block content %}
<!-- Flash Messages -->
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == 'success' %}
        <div class="alert alert-success" style="color: #155724; background-color: #d4edda; border-color: #c3e6cb; padding: 10px; margin-top: 10px;">
            {{ message }}
        </div>
    {% elif category == 'error' %}
        <div class="alert alert-danger" style="color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; padding: 10px; margin-top: 10px;">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

<!--Scripts-->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

<h2>Search for a Car</h2>

<form action="/garage_car" method="POST">
    <div class="row">
      <!-- Dropdown for search type -->
      <div class="col">
        <select class="form-select" id="plate" name="plate">
            {% for car in user_cars %}
            <option value="{{ car.plate }}">{{ car.plate }} - {{ car.make }} - {{ car.model }} - {{ car.year }}</option>
            {% endfor %}
        </select>
      </div>
      <!-- Input field for search query -->
    </div>
    <button type="submit" class="btn btn-danger" style="margin-top: 20px;">Manage</button>
  </form>

<header id="header" style="padding: 0;">
    <h2>Manage Car</h2>
</header>

{% if car_object %}
  <form method="POST" action="{{ url_for('garage_car') }}" id="manageForm">

    <div class="row">

      <!-- Plate Input -->
      <div class="col">
        <label for="car_plate" class="form-label">Plate</label>
        <input type="text" class="form-control" id="car_plate" name="car_plate" value="{{ car_object.plate }}" readonly>
      </div>

      <!-- Make Input -->
      <div class="col">
        <label for="car_make" class="form-label">Make</label>
        <input type="text" class="form-control" id="car_make" name="car_make" value="{{ car_object.make }}">
      </div>

      <!-- Model Input -->
      <div class="col">
        <label for="car_model" class="form-label">Model</label>
        <input type="text" class="form-control" id="car_model" name="car_model" value="{{ car_object.model }}">
      </div>

      <!-- Fuel Input -->
      <div class="col">
        <label for="car_fuel" class="form-label">Fuel</label>
        <input type="text" class="form-control" id="car_fuel" name="car_fuel" value="{{ car_object.fuel }}">
      </div>

      <!-- Year Input -->
      <div class="col">
        <label for="car_year" class="form-label">Year</label>
        <input type="text" class="form-control" id="car_year" name="car_year" value="{{ car_object.year }}">
      </div>

      <!-- CC Input -->
      <div class="col">
        <label for="car_cc" class="form-label">CC</label>
        <input type="text" class="form-control" id="car_cc" name="car_cc" value="{{ car_object.cc }}">
      </div>

    </div>

    <!-- Hidden input field for the action -->
    <input type="hidden" name="action" id="action" value="">

    <!-- Amend Button with Confirmation -->
    <button type="button" class="btn btn-primary" style="margin-top: 20px;" onclick="confirmAmend('car')">Amend</button>

    <!-- Delete Button with Confirmation -->
    <button type="button" class="btn btn-primary" style="margin-top: 20px;" onclick="confirmDelete('car')">Delete</button>

  </form>
  

<h2>Active Bookings</h2>
<form action="{{ url_for('bookings_manage') }}" method="POST">
<table class="table" id="bookingTable">
  <thead>
    <tr>
      <!-- Define sortable columns with clickable links -->
      <th scope="col"><a href="#" class="sort-link" data-sort="id">ID</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="plate">Plate</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="model">Model</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="start_datetime">Start</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="end_datetime">End</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="note">Note</a></th>
      <th scope="col"><a>Actions</a></th>
    </tr>
  </thead>
  <tbody>
    <!-- Iterate through user_bookings and display booking data in rows -->
    {% for booking in active_bookings %}
    <tr>
        <!-- Display booking data with associated sorting attribute -->
        <td data-sort="id">{{ booking.id }}</td>
        <td data-sort="plate">{{ booking.car.plate }}</td>
        <td data-sort="model">{{ booking.car.model }}</td>
        <td data-sort="start_datetime">{{ booking.start_datetime.strftime("%b %d %H:%M") }}</td>
        <td data-sort="end_datetime">{{ booking.end_datetime.strftime("%b %d %H:%M") }}</td>
        <td data-sort="note">
          {% if booking.note %}
          <span class="note-tooltip">
              Note
              <div class="tooltip" data-toggle="tooltip" title="{{ booking.note }}">{{ booking.note }}</div>
          </span>
      {% else %}
          <!-- Display nothing if there is no note -->
      {% endif %}
        </td>
        <td>
            <!-- Add hidden input for booking ID -->
            <input type="hidden" name="booking_id" value="{{ booking.id }}">
            <button type="submit" class="btn btn-danger" name="manage_booking" value="{{ booking.id }}">Manage</button>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</form>

<h2>Past Bookings</h2>
<form action="{{ url_for('bookings_history') }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this booking?');">
<table class="table" id="bookingTable">
  <thead>
    <tr>
      <!-- Define sortable columns with clickable links -->
      <th scope="col"><a href="#" class="sort-link" data-sort="id">ID</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="plate">Plate</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="model">Model</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="start_datetime">Start</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="end_datetime">End</a></th>
      <th scope="col"><a href="#" class="sort-link" data-sort="note">Note</a></th>
      <th scope="col"><a>Actions</a></th>
    </tr>
  </thead>
  <tbody>
    <!-- Iterate through user_bookings and display booking data in rows -->
    {% for booking in past_bookings %}
    <tr>
        <!-- Display booking data with associated sorting attribute -->
        <td data-sort="id">{{ booking.id }}</td>
        <td data-sort="plate">{{ booking.car.plate }}</td>
        <td data-sort="model">{{ booking.car.model }}</td>
        <td data-sort="start_datetime">{{ booking.start_datetime.strftime("%b %d %H:%M") }}</td>
        <td data-sort="end_datetime">{{ booking.end_datetime.strftime("%b %d %H:%M") }}</td>
        <td data-sort="note">
          {% if booking.note %}
          <span class="note-tooltip">
              Note
              <div class="tooltip" data-toggle="tooltip" title="{{ booking.note }}">{{ booking.note }}</div>
          </span>
      {% else %}
          <!-- Display nothing if there is no note -->
      {% endif %}
        </td>
        <td>
            <!-- Add hidden input for booking ID -->
            <input type="hidden" name="action" id='action' value="{{ booking.id }}">
            <button type="submit" class="btn btn-danger" name="delete_car" value="{{ booking.id }}">Delete</button>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</form>
{% endif %}
{% endblock %}