{% if current_user.language == 'en' %}
    {% extends "index.html" %}
{% else %}
    {% extends "index_" + current_user.language + ".html" %}
{% endif %}

{% block content %}
<!--Scripts-->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Link to your CSS file -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

<div class="row">
    <form action="{{ url_for('garage_manage') }}" method="get">
        <button type="submit" title="Add or Delete a Car" style="width: 75px;"><i class="fa-solid fa-car" style="margin-left: -15px;"> +/-</i></button>
    </form>
    <form action="{{ url_for('garage_car') }}" method="get">
        <button type="submit" title="Manage a Car"><i class="fa-solid fa-car"></i></button>
    </form>
    <form action="{{ url_for('bookings_manage') }}" method="get">
        <button type="submit" title="Manage Bookings"><i class="fa-solid fa-book-open"></i></button>
    </form>
    <form action="{{ url_for('calendar') }}" method="get">
        <button type="submit" title="Calendar View"><i class="fa-regular fa-calendar-days"></i></button>
    </form>
</div>

<div class="row">
    <!-- First Notice Board: Upcoming Bookings -->
    <div class="col-md-6" style="width: 400px;">
        <h3>Bookings about to finish:</h3>
        <div class="notice-board" style="margin-top: -10px; height: 100px;">
            <ul class="notice-list">
                {% for booking in bookings_about_to_finish %}
                <a href="{{ url_for('bookings_manage', booking_id=booking.id ) }}" style="color: rgb(0, 0, 0);">   
                    <li>{{ booking.car.model }} {{ booking.car.plate }} - ends on {{ booking.end_datetime.strftime("%b %d %H:%M") }}</li>
                {% endfor %}
                </a>
            </ul>
        </div>
    </div>

    <div class="col-md-6" style="width: 400px;">
        <h3>Bookings about to start:</h3>
        <div class="notice-board" style="margin-top: -10px; height: 100px;">
            <ul class="notice-list">
                {% for booking in bookings_about_to_start %}
                <a href="{{ url_for('bookings_manage', booking_id=booking.id ) }}" style="color: rgb(0, 0, 0);">
                    <li>{{ booking.car.model }} {{ booking.car.plate }} - starts on {{ booking.start_datetime.strftime("%b %d %H:%M") }}</li>
                {% endfor %}
                </a>
            </ul>
        </div>
    </div>

    <!-- Second Notice Board: Expiring Insurances, MOTs, and Road Taxes -->
    <div class="col-md-6" style="width: 500px;">
        <h3>Expiring Insurances, MOTs, and Road Taxes:</h3>
        <div class="notice-board" style="margin-top: -10px; height: 100px;">
            <ul class="notice-list">
                {% for car in cars_expiring_soon %}
                    <a href="{{ url_for('garage_car', car_plate=car.plate ) }}" style="color: rgb(0, 0, 0);">
                        <li>
                            >>> {{ car.model }} ({{ car.plate }}) - 
                            {% if car.insurance_expiry_date and car.insurance_expiry_date <= in_four_weeks %}
                                Insurance expires on {{ car.insurance_expiry_date.strftime("%b %d") }}
                            {% endif %}
                            {% if car.mot_expiry_date and car.mot_expiry_date <= in_four_weeks %}
                                {% if car.insurance_expiry_date and car.insurance_expiry_date <= in_four_weeks %} <br> {% endif %}
                                MOT expires on {{ car.mot_expiry_date.strftime("%b %d") }}
                            {% endif %}
                            {% if car.road_tax_expiry_date and car.road_tax_expiry_date <= in_four_weeks %}
                                {% if car.insurance_expiry_date and car.insurance_expiry_date <= in_four_weeks or car.mot_expiry_date and car.mot_expiry_date <= in_four_weeks %}
                                    <br> 
                                {% endif %}
                                Road Tax expires on {{ car.road_tax_expiry_date.strftime("%b %d") }}
                            {% endif %}
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<!-- Flash Messages -->
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == 'success' %}
        <div class="alert alert-success" style="color: #155724; background-color: #d4edda; border-color: #c3e6cb; padding: 10px; margin-top: 10px;">
            {{ message }}
        </div>
    {% elif category == 'error' %}
        <div class="alert alert-danger" style="color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; padding: 10px; margin-top: 10px;">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

<!-- Booking Form -->
<header id="header" style="padding: 0;">
    <h2>Book a Car</h2>
</header>

<form method="POST" action="{{ url_for('overview') }}">

    <h3 style="margin-top: 10px;">Client Details</h3>
        {% if contact %}
        <div class="row">
        <div class="col">
            <label for="full_name" class="form-label">Full name</label>
            <input type="text" class="form-control" id="full_name" name="full_name" value="{{ contact.full_name }}" readonly>
          </div>
          <div class="col">
            <label for="dob" class="form-label">Date of Birth</label>
            <input type="text" class="form-control" id="dob" name="dob" value="{{ contact.dob }}" readonly>
          </div>
          <div class="col">
            <label for="driver_licence_n" class="form-label">Driver Licence Number</label>
            <input type="text" class="form-control" id="driver_licence_n" name="driver_licence_n" value="{{ contact.driver_licence_n }}" readonly>
          </div>
          <div class="col">
            <label for="telephone" class="form-label">Telephone</label>
            <input type="text" class="form-control" id="telephone" name="telephone" value="{{ contact.telephone }}" readonly>
          </div>
          <div class="col">
            <label for="id" class="form-label">ID</label>
            <input type="text" class="form-control" id="id" name="id" value="{{ contact.id }}" readonly>
        </div>
        </div>   
        {% else %}
            <!-- Your input fields for adding a new contact go here -->
        
    <div class="row">

        <!-- Input fields for adding a contact -->
        <div class="col-2">
            <label for="full_name" class="form-label">Full name</label>
            <input type="text" class="form-control" id="full_name" name="full_name">
        </div>
        <div class="col-2">
            <label for="dob" class="form-label">Date of Birth</label>
            <input type="text" class="form-control" id="dob" name="dob">
        </div>
        <div class="col-2">
            <label for="driver_licence_n" class="form-label">Driver Licence Number</label>
            <input type="text" class="form-control" id="driver_licence_n" name="driver_licence_n">
        </div>
        <div class="col-2">
            <label for="telephone" class="form-label">Telephone</label>
            <input type="text" class="form-control" id="telephone" name="telephone">
        </div>

        <p style="margin-top: 3em;">Or</p>

        <div class="col-2">    
            <a href="{{ url_for('contacts')}}">        
                <p style="margin-top: 50px;">Search Existing Contact</p>
            </a>
        </div>   
        
    </div> 
    {% endif %}

    <div class="row" style="margin-top: 0px;">

        <!-- Car Selection Dropdown -->
        <div class="col">
            <label for="car_selection" class="form-label">Select Car</label>
            <select class="form-select" id="car_selection" name="car_selection">
                {% for car in user_cars %}
                    <option value="{{ car.plate }}">{{ car.plate }} - {{ car.model }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Km Input -->
        <div class="col">
            <label for="km" class="form-label">Car's {{ current_user.measurement_unit }}</label>
            <input type="text" class="form-control" id="km" name="km" size="4" value="0">
          </div>

        <!-- Group Selection Dropdown -->
        <div class="col">
            <label for="group_selection" class="form-label">Select Group</label>
            <select class="form-select" id="group_selection" name="group_selection">
                <option value="None">Select group...</option>
                {% for group in user_groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Price Input -->
        <div class="col">
            <label for="Price" class="form-label">Price {{ current_user.currency }}</label>
            <input type="text" class="form-control" id="Price" name="Price" size="4" value="0">
          </div>

    </div>

    <div class="row" style="margin-top: 20px;">

        <!-- Start Date Input -->
        <div class="col">
            <label for="start_date" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="start_date" name="start_date" required>
        </div>

        <!-- Start Time Input -->
        <div class="col">
            <label for="start_time" class="form-label">Start Time</label>
            <input type="time" class="form-control" id="start_time" name="start_time" required>
        </div>

        <!-- End Date Input -->
        <div class="col">
            <label for="end_date" class="form-label">End Date</label>
            <input type="date" class="form-control" id="end_date" name="end_date" required>
        </div>        

        <!-- End Time Input -->
        <div class="col">
            <label for="end_time" class="form-label">End Time</label>
            <input type="time" class="form-control" id="end_time" name="end_time" required>
        </div>

    </div>

        <!-- Note Input -->
        <div class="col" style="margin-top: 10px;">
            <label for="note" class="form-label">Note</label>
            <textarea class="form-control" id="note" name="note" rows="3" maxlength="160" oninput="updateCharacterCount(this)" style="width: 810px; height: 80px;"></textarea>
            <p id="character-count">0/160</p>
        </div>    

    <!-- Book Car Button -->
    <div class="col">
        <button type="submit" name='book' title="Book Car" class="btn btn-primary"><i class="fa-solid fa-book-open"></i></button>
    </div>
</form>

<header id="header" style="padding: 0;">
<h2>Bookings</h2>
</header>
<form method="POST" action="{{ url_for('overview') }}">
<!-- Date Selector for Booked and Avaliable Cars -->
<div class="row">

    <!-- Start Date Input -->
    <div class="col">
        <label for="from" class="form-label">From</label>
        <input type="date" class="form-control" id="from" name="from" value="{{ from_datetime }}" required>
    </div>

    <!-- End Date Input -->
    <div class="col">
        <label for="to" class="form-label">To</label>
        <input type="date" class="form-control" id="to" name="to" value="{{ to_datetime }}" required>
    </div>
    <button type="submit" name='check' class="btn btn-primary" style="margin-top: 35px; margin-left: 20px; width: 60px;"><i class="fa-solid fa-magnifying-glass" style="margin-right: 20px;"></i></button>
</div> 

<!-- Check Booked and Avaliable Cars -->

</form> 
<!-- Booked Cars Section -->
<form action="{{ url_for('bookings_manage') }}" method="POST">

    <table>
        <thead>
            <tr>
                <th>Plate</th>
                <th>Model</th>
                <th>{{ current_user.measurement_unit.capitalize() }}</th>
                <th>Start</th>
                <th>End</th>
                <th>Group</th>
                <th>Actions</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in user_bookings %}
                <tr>
                    <td>{{ booking.car.plate }}</td>
                    <td>{{ booking.car.model }}</td>
                    <td>{{ booking.km }}</td>
                    <td>{{ booking.start_datetime.strftime("%dth %B %H:%M") }}</td>
                    <td>{{ booking.end_datetime.strftime("%dth %B %H:%M") }}</td>
                    <td>
                        {% if booking.group %}
                            <a href="{{ url_for('group_manage', group_id=booking.group.id) }}">{{ booking.group.name }}</a>
                        {% endif %}
                    </td>
                    <td>
                        <!-- Add hidden input for booking ID -->
                        <input type="hidden" name="booking_id" value="{{ booking.id }}">
                        <button type="submit" class="btn btn-danger" name="manage_booking" value="{{ booking.id }}"><i class="fa-solid fa-wrench"></i></button>
                    </td>
                    <td>
                        {% if booking.note %}
                            <span class="note-tooltip">
                                Note
                                <div class="tooltip" data-toggle="tooltip" title="{{ booking.note }}">{{ booking.note }}</div>
                            </span>
                        {% else %}
                            <!-- Display nothing if there is no note -->
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}