{% extends "index.html" %}

{% block content %}
<!--Scripts-->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

<!-- Booking Form -->
<h2>Book a Car</h2>
<form method="POST" action="{{ url_for('overview') }}">
    <div class="row">

        <!-- Car Selection Dropdown -->
        <div class="col">
            <label for="car_selection" class="form-label">Select Car</label>
            <select class="form-select" id="car_selection" name="car_selection">
                {% for car in user_cars %}
                    <option value="{{ car.plate }}">{{ car.plate }} - {{ car.model }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Start Date Input -->
        <div class="col">
            <label for="start_date" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="start_date" name="start_date" required>
        </div>

        <!-- End Date Input -->
        <div class="col">
            <label for="end_date" class="form-label">End Date</label>
            <input type="date" class="form-control" id="end_date" name="end_date" required>
        </div>

        <!-- Start Time Input -->
        <div class="col">
            <label for="start_time" class="form-label">Start Time</label>
            <input type="time" class="form-control" id="start_time" name="start_time" required>
        </div>

        <!-- End Time Input -->
        <div class="col">
            <label for="end_time" class="form-label">End Time</label>
            <input type="time" class="form-control" id="end_time" name="end_time" required>
        </div>


        <!-- Note Input -->
        <div class="col">
            <label for="note" class="form-label">Note</label>
            <textarea class="form-control" id="note" name="note" rows="3" maxlength="160" oninput="updateCharacterCount(this)" style="width: 810px; height: 80px;"></textarea>
            <p id="character-count">0/160</p>
        </div>
    </div>

    <!-- Book Car Button -->
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Book Car</button>
</form>

<!-- Flash Messages -->
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == 'success' %}
        <div class="alert alert-success" style="color: #f56a6a; padding: 10px; margin-top: 10px;">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

<header id="header">
    <h2>Booked and Avaliable Cars</h2>
</header>
<form method="POST" action="{{ url_for('overview') }}">
<!-- Date Selector for Booked and Avaliable Cars -->
<div class="row">

    <!-- Start Date Input -->
    <div class="col">
        <label for="from" class="form-label">From</label>
        <input type="date" class="form-control" id="from" name="from" value="{{ from_datetime }}" required>
    </div>

    <!-- End Date Input -->
    <div class="col">
        <label for="to" class="form-label">To</label>
        <input type="date" class="form-control" id="to" name="to" value="{{ to_datetime }}" required>
    </div>

</div> 

<!-- Check Booked and Avaliable Cars -->
<button type="submit" class="btn btn-primary" style="margin-top: 20px;">Search</button>
</form>
<br>    
<!-- Booked Cars Section -->
<form action="{{ url_for('overview') }} " method="POST" onsubmit="return confirm('Are you sure you want to delete this booking?');">
<h2>Booked Cars</h2>

    <table>
        <thead>
            <tr>
                <th>Plate</th>
                <th>Model</th>
                <th>Start</th>            
                <th>End</th>
                <th>Actions</th>            
            </tr>
        </thead>
        <tbody>
            {% for booking in user_bookings %}
                <tr>
                    <td>{{ booking.car.plate }}</td>
                    <td>{{ booking.car.model }}</td>
                    <td>{{ booking.start_datetime.strftime("%dth %B %H:%M") }}</td>                
                    <td>{{ booking.end_datetime.strftime("%dth %B %H:%M") }}</td> 
                    <td>
                        <button type="submit" class="btn btn-danger" name="delete_booking" value="{{ booking.id }}">Delete</button>
                    </form>
                        <button type="submit" class="btn btn-danger" name="amend_booking" value="{{ booking.id }}">Amend</button>
                        <button type="submit" class="btn btn-danger" name="note_booking" value="{{ booking.id }}">Note</button>
                    </td>               
                </tr>
            {% endfor %}
        </tbody>
    </table>


<!-- Available Cars Section -->

<h2>Available Cars</h2>

<table>
    <thead>
        <tr>
            <th>Plate</th>
            <th>Model</th>
            <th>Fuel</th>
            <th>Year</th>
            <th>CC</th>
        </tr>
    </thead>
    <tbody>
        {% for car in available_cars %}
            <tr>
                <td>{{ car.plate }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.fuel }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.cc }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}