{% extends "index.html" %}

{% block content %}

<form action="{{ url_for('users_list') }}" method="get">
    <button type="submit">Back to the list</button>
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Reg Date</th>
            <th>User Revenue</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.formatted_registration_date() }}</td>
                <td>{{ user.user_revenue() }}</td>
                <td>
                    <form action="{{ url_for('user', username=user.username) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this account? All cars and bookings related to it will be deleted');">
                        <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
    </tbody>
</table>

<h3>User Cars</h3>
<table class="table" id="carTable">
    <thead>
      <tr>
        <!-- Define sortable columns with clickable links -->
        <th>Plate</th>
        <th>Make</th>
        <th>Model</th>
        <th>Fuel</th>
        <th>Year</th>
        <th>Cc</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iterate through user_cars and display car data in rows -->
      {% for car in cars %}
      <tr>
          <!-- Display car data with associated sorting attribute -->
          <td te">{{ car.plate }}</td>
          <td e">{{ car.make }}</td>
          <td el">{{ car.model }}</td>
          <td l">{{ car.fuel }}</td>
          <td r">{{ car.year }}</td>
          <td >{{ car.cc }}</td>
        <td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<h3>User Bookings</h3>
<table class="table" id="bookingTable">
    <thead>
      <tr>
        <!-- Define sortable columns with clickable links -->
        <th>ID</th>
        <th>Plate</th>
        <th>Model</th>
        <th>Start</th>
        <th>End</th>
        <th>Note</th>        
      </tr>
    </thead>
    <tbody>
      <!-- Iterate through user_bookings and display booking data in rows -->
      {% for booking in bookings %}
      <tr>
          <!-- Display booking data with associated sorting attribute -->
          <td >{{ booking.id }}</td>
          <td>{{ booking.car.plate }}</td>
          <td>{{ booking.car.model }}</td>
          <td>{{ booking.start_datetime.strftime("%b %d %H:%M") }}</td>
          <td>{{ booking.end_datetime.strftime("%b %d %H:%M") }}</td>
          <td>
            {% if booking.note %}
            <span class="note-tooltip">
                Note
                <div class="tooltip" data-toggle="tooltip" title="{{ booking.note }}">{{ booking.note }}</div>
            </span>
        {% else %}
            <!-- Display nothing if there is no note -->
        {% endif %}
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}